In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("london_weekdays.csv")

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat
0,0,570.098074,Entire home/apt,False,False,2.0,False,0,0,10.0,98.0,1,5.301018,1.588990,209.632578,14.571793,467.597522,8.372724,-0.16032,51.46531
1,1,297.984430,Private room,False,True,2.0,True,1,0,10.0,99.0,1,2.198946,0.379262,553.891744,38.501630,961.472137,17.215961,-0.09683,51.50343
2,2,336.790611,Private room,False,True,2.0,False,1,0,10.0,96.0,1,2.322958,0.453178,428.287849,29.770764,959.042839,17.172462,-0.10554,51.52407
3,3,226.722171,Private room,False,True,2.0,True,1,0,10.0,99.0,1,5.707825,1.723977,195.694744,13.602959,452.232472,8.097600,-0.16575,51.46292
4,4,256.355982,Private room,False,True,3.0,False,0,0,9.0,98.0,1,3.257945,0.825417,329.477068,22.902317,735.327280,13.166649,-0.12055,51.53728
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4609,4609,310.449446,Private room,False,True,2.0,False,0,0,10.0,100.0,1,6.347654,0.445862,194.410695,13.513703,446.486289,7.994710,-0.21207,51.48667
4610,4610,265.057974,Entire home/apt,False,False,4.0,False,1,0,8.0,84.0,1,5.231706,0.463949,254.476513,17.688945,537.720506,9.628334,-0.05459,51.52018
4611,4611,142.289329,Private room,False,True,2.0,False,0,0,10.0,97.0,1,8.867238,2.675007,125.891017,8.750824,266.789887,4.777096,-0.12056,51.42875
4612,4612,372.304146,Private room,False,True,2.0,False,0,0,8.0,80.0,1,7.576798,1.682697,146.161215,10.159828,325.152018,5.822118,-0.12810,51.44023
4613,4613,573.155530,Entire home/apt,False,False,6.0,True,0,0,10.0,98.0,3,6.882617,1.432839,165.276356,11.488543,375.335275,6.720691,-0.08009,51.56266

In [5]:
df.describe()

,Unnamed: 0,realSum,person_capacity,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat
count,4614.000000,4614.000000,4614.000000,4614.000000,4614.000000,4614.000000,4614.000000,4614.000000,4614.000000,4614.000000,4614.000000,4614.000000,4614.000000,4614.000000,4614.000000,4614.000000
mean,2306.500000,360.230348,2.832466,0.269397,0.422844,9.153013,90.324447,1.123754,5.325023,0.992739,296.466825,20.607738,629.790258,11.276920,-0.114886,51.503262
std,1332.091401,507.782888,1.240572,0.443695,0.494065,1.183012,11.755838,0.581591,2.720524,1.262465,172.440566,11.986535,389.953206,6.982438,0.068183,0.031465
min,0.000000,64.676968,2.000000,0.000000,0.000000,2.000000,20.000000,0.000000,0.040553,0.013904,68.740487,4.778228,140.521726,2.516159,-0.251700,51.416510
25%,1153.250000,167.454550,2.000000,0.000000,0.000000,9.000000,86.000000,1.000000,3.553956,0.317995,178.041401,12.375855,386.186620,6.914994,-0.171242,51.486300
50%,2306.500000,256.355982,2.000000,0.000000,0.000000,9.000000,93.000000,1.000000,4.899843,0.523462,251.181941,17.459935,530.331957,9.496036,-0.118225,51.509800
75%,3459.750000,435.452386,4.000000,1.000000,1.000000,10.000000,99.000000,1.000000,6.835232,1.047957,361.797354,25.148936,775.523995,13.886404,-0.067260,51.524698
max,4613.000000,15499.894165,6.000000,1.000000,1.000000,10.000000,100.000000,8.000000,17.321206,9.286229,1438.618956,100.000000,5584.771840,100.000000,0.120180,51.575820

In [10]:
len(df)

4614

In [6]:
df.describe().loc["mean"]

Unnamed: 0                    2306.500000
realSum                        360.230348
person_capacity                  2.832466
multi                            0.269397
biz                              0.422844
cleanliness_rating               9.153013
guest_satisfaction_overall      90.324447
bedrooms                         1.123754
dist                             5.325023
metro_dist                       0.992739
attr_index                     296.466825
attr_index_norm                 20.607738
rest_index                     629.790258
rest_index_norm                 11.276920
lng                             -0.114886
lat                             51.503262
Name: mean, dtype: float64

In [9]:
df.describe().loc[["std","mean"]]["multi"]

std     0.443695
mean    0.269397
Name: multi, dtype: float64

In [ ]:
df.describe()

In [42]:
subset = df[df["room_private"] == True]
subset.head(10)

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,Difference
1,1,297.984430,Private room,False,True,2.0,True,1,0,10.0,...,1,2.198946,0.379262,553.891744,38.501630,961.472137,17.215961,-0.09683,51.50343,1.819684
2,2,336.790611,Private room,False,True,2.0,False,1,0,10.0,...,1,2.322958,0.453178,428.287849,29.770764,959.042839,17.172462,-0.10554,51.52407,1.869780
3,3,226.722171,Private room,False,True,2.0,True,1,0,10.0,...,1,5.707825,1.723977,195.694744,13.602959,452.232472,8.097600,-0.16575,51.46292,3.983848
4,4,256.355982,Private room,False,True,3.0,False,0,0,9.0,...,1,3.257945,0.825417,329.477068,22.902317,735.327280,13.166649,-0.12055,51.53728,2.432528
5,5,239.892754,Private room,False,True,2.0,False,0,0,10.0,...,1,5.085730,1.806218,226.724964,15.759904,486.737052,8.715433,-0.17241,51.47222,3.279512
6,6,324.090407,Private room,False,True,2.0,False,0,0,10.0,...,1,4.595055,0.296879,283.442608,19.702410,682.186718,12.215122,-0.19359,51.51061,4.298176
7,7,155.695101,Private room,False,True,2.0,False,1,0,10.0,...,1,5.102453,1.013706,214.263962,14.893726,453.668124,8.123306,-0.15177,51.46504,4.088747
8,8,129.353936,Private room,False,True,4.0,False,1,0,9.0,...,1,4.534041,1.772806,257.445014,17.895289,541.216973,9.690942,-0.16972,51.47724,2.761235
12,12,207.436675,Private room,False,True,2.0,False,0,0,4.0,...,1,5.945243,1.742956,192.919075,13.410019,427.665647,7.657710,-0.18049,51.46636,4.202287
13,13,285.049037,Private room,False,True,2.0,True,1,0,9.0,...,1,3.221715,1.152193,334.881865,23.278010,637.311266,11.411590,-0.15000,51.48300,2.069522

In [19]:
df.shape

(4614, 20)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4614 entries, 0 to 4613
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  4614 non-null   int64
 1   realSum                     4614 non-null   float64
 2   room_type                   4614 non-null   object
 3   room_shared                 4614 non-null   bool
 4   room_private                4614 non-null   bool
 5   person_capacity             4614 non-null   float64
 6   host_is_superhost           4614 non-null   bool
 7   multi                       4614 non-null   int64
 8   biz                         4614 non-null   int64
 9   cleanliness_rating          4614 non-null   float64
 10  guest_satisfaction_overall  4614 non-null   float64
 11  bedrooms                    4614 non-null   int64
 12  dist                        4614 non-null   float64
 13  metro_dist                  4614 non-null   float64
 14  attr_index                  4614 non-null   float64
 15  attr_index_norm             4614 non-null   float64
 16  rest_index                  4614 non-null   float64
 17  rest_index_norm             4614 non-null   float64
 18  lng                         4614 non-null   float64
 19  lat                         4614 non-null   float64
dtypes: bool(3), float64(12), int64(4), object(1)
memory usage: 626.4+ KB

In [33]:
subset2 = df[(df["person_capacity"] >= 3) & (df["cleanliness_rating"] == 10.0)]
subset2

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat
17,17,608.904255,Entire home/apt,False,False,4.0,False,0,0,10.0,90.0,2,3.589793,0.201296,341.842316,23.761839,798.922066,14.305366,-0.17815,51.51484
25,25,2173.851690,Entire home/apt,False,False,6.0,False,1,0,10.0,93.0,3,4.909648,0.686639,264.740473,18.402404,566.772524,10.148535,-0.18580,51.48336
26,26,271.878454,Private room,False,True,5.0,False,1,0,10.0,96.0,1,3.776313,0.772869,287.328395,19.972516,725.650751,12.993382,-0.10344,51.53876
39,39,265.763541,Entire home/apt,False,False,3.0,False,0,0,10.0,96.0,0,4.880109,1.092523,248.225550,17.254433,531.715787,9.520815,-0.17925,51.47865
40,40,220.372069,Private room,False,True,4.0,False,0,0,10.0,94.0,1,6.856222,0.527527,179.799006,12.498028,419.952321,7.519597,-0.22097,51.48847
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4574,4574,320.797761,Private room,False,True,3.0,False,1,0,10.0,94.0,1,7.315397,1.565224,151.107973,10.503683,325.454531,5.827535,-0.12949,51.44259
4594,4594,340.318446,Entire home/apt,False,False,4.0,True,1,0,10.0,97.0,2,9.439182,0.752316,118.329077,8.225185,263.234623,4.713436,-0.15775,51.42562
4600,4600,258.707872,Entire home/apt,False,False,4.0,False,0,0,10.0,84.0,1,7.489919,2.382547,153.292878,10.655558,332.409217,5.952064,-0.06289,51.56225
4605,4605,374.891225,Entire home/apt,False,False,3.0,False,0,0,10.0,90.0,2,7.496856,1.308006,151.678953,10.543372,329.290309,5.896218,-0.07773,51.56813
4613,4613,573.155530,Entire home/apt,False,False,6.0,True,0,0,10.0,98.0,3,6.882617,1.432839,165.276356,11.488543,375.335275,6.720691,-0.08009,51.56266

In [55]:
#Problem 1
df["Difference"] = df["dist"] - df["metro_dist"]

In [53]:
df[['Unnamed: 0','dist', 'metro_dist','Difference']].to_csv('Problem1.csv', index=False)

In [37]:
df.head()

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,Difference
0,0,570.098074,Entire home/apt,False,False,2.0,False,0,0,10.0,...,1,5.301018,1.588990,209.632578,14.571793,467.597522,8.372724,-0.16032,51.46531,3.712027
1,1,297.984430,Private room,False,True,2.0,True,1,0,10.0,...,1,2.198946,0.379262,553.891744,38.501630,961.472137,17.215961,-0.09683,51.50343,1.819684
2,2,336.790611,Private room,False,True,2.0,False,1,0,10.0,...,1,2.322958,0.453178,428.287849,29.770764,959.042839,17.172462,-0.10554,51.52407,1.869780
3,3,226.722171,Private room,False,True,2.0,True,1,0,10.0,...,1,5.707825,1.723977,195.694744,13.602959,452.232472,8.097600,-0.16575,51.46292,3.983848
4,4,256.355982,Private room,False,True,3.0,False,0,0,9.0,...,1,3.257945,0.825417,329.477068,22.902317,735.327280,13.166649,-0.12055,51.53728,2.432528

In [40]:
#Problem 2
df["room_type"].value_counts()

Private room       2625
Entire home/apt    1966
Shared room          23
Name: room_type, dtype: int64

In [96]:
(df["room_type"].value_counts()).rename("Available Rooms").to_csv('Problem2.csv', index_label='Room Type')

In [41]:
#Problem 3
df["person_capacity"].value_counts()

2.0    2891
4.0     822
3.0     407
6.0     308
5.0     186
Name: person_capacity, dtype: int64

In [97]:
(df["person_capacity"].value_counts()).rename("Available Rooms").to_csv('Problem3.csv', index_label='Person Capacity')

In [100]:
pd.read_csv("Problem1.csv")

      Unnamed: 0      dist  metro_dist  Difference
0              0  5.301018    1.588990    3.712027
1              1  2.198946    0.379262    1.819684
2              2  2.322958    0.453178    1.869780
3              3  5.707825    1.723977    3.983848
4              4  3.257945    0.825417    2.432528
...          ...       ...         ...         ...
4609        4609  6.347654    0.445862    5.901792
4610        4610  5.231706    0.463949    4.767757
4611        4611  8.867238    2.675007    6.192231
4612        4612  7.576798    1.682697    5.894100
4613        4613  6.882617    1.432839    5.449778

[4614 rows x 4 columns]